/* Стили для контейнера (cnt) */
.cnt {
    max-width: 1222px; /* Максимальная ширина контейнера (1222 пикселя) */
    width: 100%; /* Ширина контейнера занимает 100% доступного пространства */
    margin-left: auto; /* Автоматические отступы слева для центрирования контейнера */
    margin-right: auto; /* Автоматические отступы справа для центрирования контейнера */
}

/* Медиа-запрос для экранов с максимальной шириной 500 пикселей */
@media (max-width: 500px) {
    .cnt {
        padding: 0 16px; /* Уменьшаем внутренние отступы до 16 пикселей слева и справа на маленьких экранах */
    }
}