/* Стили для заголовка (header) */
.header {
    display: flex; /* Используем flexbox для расположения элементов в строку */
    flex-direction: row; /* Элементы располагаются в горизонтальном направлении */
    gap: 6px; /* Промежуток между элементами внутри контейнера */
  }
  
  /* Стили для названия клуба (club__name) */
  .club__name {
    color: rgb(89, 86, 83); /* Цвет текста (темно-серый) */
    font-family: Golos Text; /* Шрифт для текста */
    font-size: 16.65px; /* Размер шрифта */
    font-weight: 700; /* Жирность шрифта (жирный) */
    line-height: 108%; /* Высота строки для лучшей читаемости текста */
    letter-spacing: ; /* Пробел между буквами (пустое значение, можно удалить или задать) */
    text-align: left; /* Выравнивание текста по левому краю */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
  }