/* Стили для заголовка (header) */
.header {
    display: flex; /* Используем flexbox для расположения элементов в строку */
    flex-direction: row; /* Элементы располагаются в горизонтальном направлении */
    gap: 6px; /* Промежуток между элементами внутри контейнера */
    align-items: center;
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    top: 0; /* Прикрепляем к верхней части страницы */
    left: 0; /* Прикрепляем к левой части страницы */
    right: 0; /* Прикрепляем к правой части страницы */
    z-index: 10; /* Устанавливаем z-index, чтобы заголовок был поверх других элементов */
    margin-top: 20px;
  }
  
  /* Стили для названия клуба (club__name) */
  .club__name {
    color: rgb(89, 86, 83); /* Цвет текста (темно-серый) */
    font-family: Golos Text; /* Шрифт для текста */
    font-size: 16.65px; /* Размер шрифта */
    font-weight: 700; /* Жирность шрифта (жирный) */
    line-height: 108%; /* Высота строки для лучшей читаемости текста */
    letter-spacing: ; /* Пробел между буквами (пустое значение, можно удалить или задать) */
    text-align: left; /* Выравнивание текста по левому краю */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
  }